{% extends 'base.html' %}
{% block content %}

<h1 class="text-center mt-5">Flux</h1>
<div class=" text-center mt-5">
    <a href="flow/form_ticket" class="btn btn-outline-dark">Demander une critique</a>
    <a href="flow/create_review_and_ticket" class="btn btn-outline-dark">Créer une critique</a>
</div>
<div class="text-center mt-5">
    {% for post in posts %}
    <div class="text-start mt-5 mb-5">
        <h3>Posté par {{ post.user.username}}:</h3>
        {% if post.get_class == 'Ticket' %}
        {% include 'flow/display_ticket.html'%}
        {% if not post.has_review %}
        <a href="{% url 'create_review_from_ticket' post.id%}" class="btn btn-outline-dark">Ajouter une critique</a>
        {% endif %}
        {% elif post.get_class == 'Review' %}
        {% include 'flow/display_review.html'%}
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock content %}